body {
	background-color: blanchedalmond;
	font-family: "Young Serif", serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
div {
	background-color: white;
	width: max-content;
	padding: 25px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
}
h1 {
	margin: 0px;
	margin-bottom: 25px;
	padding-right: 40px;
	font-weight: 300;
}
input {
	padding: 16px 0px 16px 0px;
	border: 0px;
	font-size: 16px;
	color: #e8ceda;
	display: block;
	font-size: 20px;
	margin-bottom: 30px;
	background-color: #fff7fb;
	width: 100%;
	border-radius: 12px;
}
input::placeholder {
	color: #e8ceda;
	font-family: "Young serif";
}
a {
	background-color: #7a284e;
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
	text-align: center;
	padding: 16px 0px 16px 0px;
	border-radius: 12px;
	font-size: 20px;
	margin-bottom: 25px;
}
hr {
	width: 100%;
}
